// color variables
$lt-gray: #ddd;
$background-dark: #512DA8;
$background-lite: #9575CD;
$background-pale: #D1C4E9;

// height var
$carousel-item-height: 300px;


// mixin
@mixin zero-margin ($pad-up-dn, $pad-lt-rt)
{
	margin: 0px auto;
	padding: $pad-up-dn $pad-lt-rt;
}



// using above vars and mixin into below css code

.row-header{
	@include zero-margin(0px, 0px);
}

.row-content{
	@include zero-margin(50px, 0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: $background-pale;
	@include zero-margin(20px, 0px);
}

.jumbotron{
	@include zero-margin(70px, 30px);
	background: $background-lite;
	color: floralwhite;
}

address{
	font-size: 80%;
	margin: 0px;
	/*color: #0f0f0f;*/
}

body{
	padding: 50px 0px 0px 0px;
	/*z-index: 0;*/
}

.navbar-dark{
	background-color: $background-dark;
}

.tab-content{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px; 
}


// class
.carousel
{
	background: $background-dark;

	.carousel-item
	{
		height: $carousel-item-height;
	

		img
		{
			position: absolute;
			top: 0;
			left: 0;
			min-height: $carousel-item-height;
		}
	}
}

.shadow::after{
	box-shadow: inset -100px 0px 100px #222;
	content: '';
	/*display: block;*/
	position: absolute;
	min-height: $carousel-item-height;
	min-width: 305px;
}

.carousel-caption {
	margin-bottom: 50px;
}

#carouselbutton{
	right: 0px;
	bottom: 0px;
	position: absolute;
	z-index: 1;
}

.modal-header
{
	background: $background-dark;

	.modal-title
	{
		color: floralwhite;
	}
	
	button
	{
		color: floralwhite;
	}
}

.modal-body
{
	background: $background-pale;
}